.glassHeader {
    background-color: #ff5823;
    width: 100%;
    max-height: 100px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logoImg {
    width: 250px;
    height: 70%;
    max-width: none;
    object-fit: cover;
    object-position: center center;
    display: block;
}
