* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sagoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    justify-content: center;
    background-color: #FEF6DE;
    overflow: hidden;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5823;
    color: #fff;
    height: 100px;
    width: 100%;
}

.logo img {
    width: 100%;
    height: 160px;
}

header .material-symbols-outlined {
    font-size: 40px;
    margin-right: 30px;
    cursor: pointer;
    color: #FEF6DE;
}

.glass-container {
    position: relative;
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow: hidden;
}