@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #FEF6DE;
}

#root {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.appShell {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.contentArea {
    flex: 1;
    padding-left: var(--sidebar-collapsed, 80px);
    display: flex;
    flex-direction: column;
    transition: padding 0.25s ease;
}

.appShell .sidebar:hover + .contentArea {
    padding-left: var(--sidebar-expanded, 220px);
}
