@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
    --sidebar-collapsed: 100px;
    --sidebar-expanded: 260px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(334deg,  #ffa77c,#ff9564, #fc5a28, #ff5823, #ff8850, #ff9e81, #ffc4a6);
    background-size: 200% 200%;
    animation: gradient-animation 14s ease infinite;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: transparent;
    min-height: 100vh;
    flex: 1;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;
}

.appShell {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex: 1;
}

.contentArea {
    flex: 1;
    min-height: 100vh;
    padding-left: var(--sidebar-collapsed);
    display: flex;
    flex-direction: column;
    transition: padding 0.25s ease;
}

.appShell .sidebar:hover+.contentArea {
    padding-left: var(--sidebar-expanded);
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
