@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #FEF6DE;
}